<div class="container">
  <div class="row">
    <div class="col-3"><%- include ('./nav.ejs') %></div>
    <div class="col-9" style="margin-top: 30px">
      <div style="margin: 3% auto; font-size: 20px; text-align: center">
        <h3>상품 등록</h3>
      </div>
      <table class="table table-hover">
        <tr>
          <th>상품코드</th>
          <td>
            <input
              id="product_id"
              type="text"
              class="form-control"
              aria-describedby="basic-addon1"
            />
          </td>
        </tr>
        <tr>
          <th>카테고리</th>
          <td>
            <select
              id="category"
              class="form-select"
              aria-label="Default select example"
            >
              <% category.forEach((el)=>{ %>
              <option value="<%=el.id%>"><%=el.value%></option>
              <% }) %>
            </select>
          </td>
        </tr>
        <tr>
          <th>브랜드</th>
          <td>
            <input
              id="brand"
              type="text"
              class="form-control"
              aria-describedby="basic-addon1"
            />
          </td>
        </tr>
        <tr>
          <th>썸네일</th>
          <td>
            <input
              id="thumbnail"
              type="text"
              class="form-control"
              aria-describedby="basic-addon1"
            />
          </td>
        </tr>
        <tr>
          <th>제품링크</th>
          <td>
            <input
              id="link"
              type="text"
              class="form-control"
              aria-describedby="basic-addon1"
            />
          </td>
        </tr>
        <tr>
          <th>이미지</th>
          <td>
            <textarea
              id="image"
              class="form-control"
              rows="5"
              placeholder="쉼표(,)로 구분해주세요"
            ></textarea>
          </td>
        </tr>
        <tr>
          <th>상품명</th>
          <td>
            <input
              id="name"
              type="text"
              class="form-control"
              aria-describedby="basic-addon1"
            />
          </td>
        </tr>
        <tr>
          <th>상품소개</th>
          <td>
            <input
              id="description"
              type="text"
              class="form-control"
              aria-describedby="basic-addon1"
            />
          </td>
        </tr>
        <tr>
          <th>상품정보제공고시</th>
          <td>
            <textarea id="detail" class="form-control" rows="16"></textarea>
          </td>
        </tr>
        <tr>
          <th>소비자가격</th>
          <td>
            <input
              id="retail_price"
              type="text"
              class="form-control"
              aria-describedby="basic-addon1"
            />
          </td>
        </tr>
        <tr>
          <th>마진율</th>
          <td>
            <input
              id="fee_rate"
              type="text"
              class="form-control"
              aria-describedby="basic-addon1"
            />
          </td>
        </tr>
        <tr>
          <th>성별</th>
          <td>
            <div class="input-group mb-3 register">
              <select
                id="gender"
                class="form-select multiple"
                multiple="multiple"
              >
                <% gender.forEach((el)=>{ %>
                <option value="<%=el.id%>"><%=el.value%></option>
                <% }) %>
              </select>
            </div>
          </td>
        </tr>
        <tr>
          <th>연령대</th>
          <td>
            <div class="input-group mb-3 register">
              <select id="age" class="form-select multiple" multiple="multiple">
                <% age.forEach((el)=>{ %>
                <option value="<%=el.id%>"><%=el.value%></option>
                <% }) %>
              </select>
            </div>
          </td>
        </tr>
        <tr>
          <th>금액대</th>
          <td>
            <select
              id="price"
              class="form-select"
              aria-label="Default select example"
            >
              <% price.forEach((el)=>{ %>
              <option value="<%=el.id%>"><%=el.value%></option>
              <% }) %>
            </select>
          </td>
        </tr>
      </table>
      <button
        style="margin: 5% 40%"
        type="button"
        class="btn btn-primary"
        onclick="save()"
      >
        저장하기
      </button>
    </div>
  </div>
</div>
<script>
  (function ($) {
    $(function () {
      window.fs_test = $("#gender").fSelect({
        placeholder: "성별",
        numDisplayed: 2,
        overflowText: "{n} selected",
        noResultsText: "No results found",
        searchText: "Search",
        showSearch: false,
      });
      window.fs_test = $("#age").fSelect({
        placeholder: "연령",
        numDisplayed: 2,
        overflowText: "{n} selected",
        noResultsText: "No results found",
        searchText: "Search",
        showSearch: false,
      });
      window.fs_test = $("#price").fSelect({
        placeholder: "가격대",
        numDisplayed: 2,
        overflowText: "{n} selected",
        noResultsText: "No results found",
        searchText: "Search",
        showSearch: false,
      });
      window.fs_test = $("#category").fSelect({
        placeholder: "카테고리",
        numDisplayed: 2,
        overflowText: "{n} selected",
        noResultsText: "No results found",
        searchText: "Search",
        showSearch: false,
      });
    });
  })(jQuery);

  function save() {
    let images = $("#image").val().split(",");
    let ages = $("#age option:selected")
      .map(function () {
        return this.value;
      })
      .get();
    let genders = $("#gender option:selected")
      .map(function () {
        return this.value;
      })
      .get();
    if (genders.length < 1) {
      alert("성별을 선택해주세요.");
    } else if (ages.length < 1) {
      alert("연령대를 하나이상 선택해주세요.");
    } else if ($("#price option:selected").val() === "가격") {
      alert("가격을 선택해주세요.");
    } else {
      let retail_price = $("#retail_price").val();
      if (retail_price === "") {
        retail_price = 0;
      }
      let fee_rate = $("#fee_rate").val();
      if (fee_rate === "") {
        fee_rate = 0;
      }
      let detail = $("#detail").val().replace(/\n/gi, "<br>");

      axios({
        url: `/admin/product/register`,
        method: "post",
        headers: {
          "Content-Type": "application/json",
        },
        data: JSON.stringify({
          id: $("#product_id").val(),
          category: $("#category").val(),
          name: $("#name").val(),
          thumbnail: $("#thumbnail").val(),
          image: images,
          brand: $("#brand").val(),
          link: $("#link").val(),
          retail_price: retail_price,
          fee_rate: fee_rate,
          description: $("#description").val(),
          detail: detail,
          gender: genders,
          age: ages,
          price: $("#price option:selected").val(),
        }),
      })
        .then((res) => {
          console.log($("#product_id").val());
          alert("제품이 등록되었습니다.");
          location.href = `/admin/product/detail/${$("#product_id").val()}`;
        })
        .catch((err) => {
          alert(err.error);
          console.log(err.error);
        });
    }
  }
</script>
