<div class="container">
  <div id="content">
    <div id="product" style="display: none"><%= JSON.stringify(product) %></div>
    <div id="preference" style="display: none">
      <%= JSON.stringify(preference) %>
    </div>
    <div style="margin: 3% auto; font-size: 20px; text-align: center">
      상품수정
    </div>
    <table class="table table-hover">
      <tr>
        <th>상품코드</th>
        <td><p id="id"><%= product.id %></p></td>
      </tr>
      <tr>
        <th>카테고리</th>
        <td>
          <select
            id="category"
            class="form-select"
            aria-label="Default select example"
          >
            <% category.forEach((el)=>{ %>
            <option value="<%=el.id%>"><%=el.value%></option>
            <% }) %>
          </select>
        </td>
      </tr>
      <tr>
        <th>브랜드</th>
        <td>
          <input
            id="brand"
            type="text"
            class="form-control"
            aria-describedby="basic-addon1"
            value="<%= product.brand %>"
          />
        </td>
      </tr>
      <tr>
        <th>썸네일</th>
        <td>
          <input
            id="thumbnail"
            type="text"
            class="form-control"
            aria-describedby="basic-addon1"
            value="<%= product.thumbnail %>"
          />
        </td>
      </tr>
      <tr>
        <th>제품링크</th>
        <td>
          <input
            id="link"
            type="text"
            class="form-control"
            aria-describedby="basic-addon1"
            value="<%= product.link %>"
          />
        </td>
      </tr>
      <tr>
        <th>이미지</th>
        <td>
          <textarea
            id="image"
            class="form-control"
            rows="5"
            placeholder="쉼표(,)로 구분해주세요"
          ></textarea>
        </td>
      </tr>
      <tr>
        <th>상품명</th>
        <td>
          <input
            id="name"
            type="text"
            class="form-control"
            aria-describedby="basic-addon1"
            value="<%= product.name %>"
          />
        </td>
      </tr>
      <tr>
        <th>상품소개</th>
        <td>
          <input
            id="description"
            type="text"
            class="form-control"
            aria-describedby="basic-addon1"
            value="<%= product.description %>"
          />
        </td>
      </tr>
      <tr>
        <th>상품정보제공고시</th>
        <td>
          <textarea id="detail" class="form-control" rows="16"></textarea>
        </td>
      </tr>
      <tr>
        <th>소비자가격</th>
        <td>
          <input
            id="retail_price"
            type="text"
            class="form-control"
            aria-describedby="basic-addon1"
            value="<%= product.retail_price %>"
          />
        </td>
      </tr>
      <tr>
        <th>마진율</th>
        <td>
          <input
            id="fee_rate"
            type="text"
            class="form-control"
            aria-describedby="basic-addon1"
            value="<%= product.fee_rate %>"
          />
        </td>
      </tr>
      <tr>
        <th>성별</th>
        <td>
          <div class="input-group mb-3 register">
            <select
              id="gender"
              class="form-select multiple"
              multiple="multiple"
            >
              <% gender.forEach((el)=>{ %>
              <option value="<%=el.id%>"><%=el.value%></option>
              <% }) %>
            </select>
          </div>
        </td>
      </tr>
      <tr>
        <th>연령대</th>
        <td>
          <div class="input-group mb-3 register">
            <select id="age" class="form-select multiple" multiple="multiple">
              <% age.forEach((el)=>{ %>
              <option value="<%=el.id%>"><%=el.value%></option>
              <% }) %>
            </select>
          </div>
        </td>
      </tr>
      <tr>
        <th>금액대</th>
        <td>
          <select
            id="price"
            class="form-select"
            aria-label="Default select example"
          >
            <% price.forEach((el)=>{ %>
            <option value="<%=el.id%>"><%=el.value%></option>
            <% }) %>
          </select>
        </td>
      </tr>
    </table>
    <button
      style="margin: 5% 40%"
      type="button"
      class="btn btn-primary"
      onclick="save()"
    >
      저장하기
    </button>
  </div>
</div>
<script>
  (function ($) {
    $(function () {
      window.fs_test = $("#gender").fSelect({
        placeholder: "성별",
        numDisplayed: 2,
        overflowText: "{n} selected",
        noResultsText: "No results found",
        searchText: "Search",
        showSearch: false,
      });
      window.fs_test = $("#age").fSelect({
        placeholder: "연령",
        numDisplayed: 2,
        overflowText: "{n} selected",
        noResultsText: "No results found",
        searchText: "Search",
        showSearch: false,
      });
      window.fs_test = $("#price").fSelect({
        placeholder: "가격대",
        numDisplayed: 2,
        overflowText: "{n} selected",
        noResultsText: "No results found",
        searchText: "Search",
        showSearch: false,
      });
      window.fs_test = $("#category").fSelect({
        placeholder: "카테고리",
        numDisplayed: 2,
        overflowText: "{n} selected",
        noResultsText: "No results found",
        searchText: "Search",
        showSearch: false,
      });
    });

    let data = JSON.parse($("#product").text());
    let preference = JSON.parse($("#preference").text());

    $("#category").val(data.category_id).prop("selected", true);
    $("#price").val(preference[0].price_id).prop("selected", true);

    preference.forEach((elem) => {
      $(`#gender option[value='${elem.gender_id}']`).prop("selected", true);
      $(`#age option[value='${elem.age_id}']`).prop("selected", true);
    });

    $("#image").val(data.image_url.join(","));

    $("#detail").val(data.detail.replace(/<br>/gi, "\n"));
  })(jQuery);

  function save() {
    let images = $("#image").val().split(",");
    let ages = $("#age option:selected")
      .map(function () {
        return this.value;
      })
      .get();
    let genders = $("#gender option:selected")
      .map(function () {
        return this.value;
      })
      .get();
    if (genders.length < 1) {
      alert("성별을 선택해주세요.");
    } else if (ages.length < 1) {
      alert("연령대를 하나이상 선택해주세요.");
    } else if ($("#price option:selected").val() === "가격") {
      alert("가격을 선택해주세요.");
    } else {
      let retail_price = $("#retail_price").val();
      if (retail_price === "") {
        retail_price = 0;
      }
      let fee_rate = $("#fee_rate").val();
      if (fee_rate === "") {
        fee_rate = 0;
      }
      let detail = $("#detail").val().replace(/\n/gi, "<br>");

      axios({
        url: `/admin/product/edit/${$("#id").text()}`,
        method: "patch",
        headers: {
          "Content-Type": "application/json",
        },
        data: JSON.stringify({
          id: $("#id").text(),
          category: $("#category").val(),
          name: $("#name").val(),
          thumbnail: $("#thumbnail").val(),
          image: images,
          brand: $("#brand").val(),
          link: $("#link").val(),
          retail_price: retail_price,
          fee_rate: fee_rate,
          description: $("#description").val(),
          detail: detail,
          gender: genders,
          _csrf: $("#_csrf").val(),
          age: ages,
          price: $("#price option:selected").val(),
        }),
      })
        .then((res) => {
          alert("제품이 수정되었습니다.");
          location.href = `/admin/product/detail/${$("#id").text()}`;
        })
        .catch((err) => {
          alert("제품을 수정하지 못했습니다.");
          console.log(err.error);
        });
    }
  }

  function addImage() {}
</script>
