<%- include ('./nav.ejs') %>

<div id="page" value="<%=value%>" order="<%=order%>" hidden><%=page%></div>

<section class="main-section">
  <div><p class="main-title">상품 관리</p></div>
  <div class="blue-h-line"></div>
  <div class="button-group">
    <table id="select">
      <tr>
        <td class="manage">
          <select
            id="gender"
            class="manage form-select multiple"
            multiple="multiple"
          >
            <% gender.forEach((el)=>{ %>
            <option value="<%=el.id%>"><%=el.value%></option>
            <% }) %>
          </select>
        </td>
        <td class="manage">
          <select
            id="age"
            class="manage form-select multiple"
            multiple="multiple"
          >
            <% age.forEach((el)=>{ %>
            <option value="<%=el.id%>"><%=el.value%></option>
            <% }) %>
          </select>
        </td>
        <td class="manage">
          <select
            id="price"
            class="manage form-select multiple"
            multiple="multiple"
          >
            <% price.forEach((el)=>{ %>
            <option value="<%=el.id%>"><%=el.value%></option>
            <% }) %>
          </select>
        </td>
        <td class="manage">
          <select
            id="category"
            class="manage form-select multiple"
            multiple="multiple"
          >
            <% category.forEach((el)=>{ %>
            <option value="<%=el.id%>"><%=el.value%></option>
            <% }) %>
          </select>
        </td>
        <td>
          <button
            id="btn-filter"
            type="button"
            class="btn blue-button"
            style="margin-left: 5px; height: 40px"
          >
            검색
          </button>
        </td>
        <td>
          <div style="margin-left: 30px" id="pagination"></div>
        </td>
      </tr>
    </table>
  </div>

  <div id="table-group" class="table-group">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" style="width: 60px">
            코드 <i class="fas fa-sort" id="id"></i>
          </th>
          <th scope="col" style="width: 120px">썸네일</th>
          <th scope="col">상품명 <i class="fas fa-sort" id="name"></i></th>
          <th scope="col" style="width: 92px">
            상품유형 <i class="fas fa-sort" id="category"></i>
          </th>
          <th scope="col" style="width: 77px">
            판매처 <i class="fas fa-sort" id="brand"></i>
          </th>
          <th scope="col" style="width: 77px">
            노출수 <i class="fas fa-sort" id="view_count"></i>
          </th>
          <th scope="col" style="width: 92px">
            좋아요수 <i class="fas fa-sort" id="like_count"></i>
          </th>
          <th scope="col" style="width: 77px">
            주문수 <i class="fas fa-sort" id="order_count"></i>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody id="product_list"></tbody>
    </table>
    <div style="text-align: right">
      <button
        class="btn green-button"
        onclick="location.href='/admin/product/register'"
      >
        추가하기
      </button>
    </div>
  </div>

  <div id="page-container" style="text-align: center"></div>
  <br />
  <br />
  <br />
</section>

<script type="module" src="/javascripts/admin/fillProductManage.js"></script>
