<%- include ('./nav.ejs') %>
<section class="main-section">
  <div>
    <p class="main-nav-title">
      <a href="/admin/product/manage">상품 관리</a> > 상품 정보
    </p>
    <p class="main-title-deep">상품 정보</p>
  </div>
  <div class="blue-h-line"></div>
  <div class="button-group">
    <table class="table table-hover">
      <tr>
        <th>상품코드</th>
        <td><%= product.id %></td>
      </tr>
      <tr>
        <th>상품명</th>
        <td>
          <p onclick="window.open('<%= product.link %>')">
            <%= product.name %>
          </p>
        </td>
      </tr>
      <tr>
        <th>상태</th>
        <td><%= product.deleted == 1 ? "판매중지" : "판매중"%></td>
      </tr>
      <tr>
        <th>카테고리</th>
        <td><%= product.Category.value %></td>
      </tr>
      <tr>
        <th>브랜드</th>
        <td><%= product.Brand.value %></td>
      </tr>
      <tr>
        <th>썸네일</th>
        <td>
          <img
            src="<%= product.thumbnail%>"
            alt="thumbnail"
            style="width: 100px; height: 100px"
          />
        </td>
      </tr>
      <tr>
        <th>이미지</th>
        <td>
          <% product.ProductImages.forEach((image)=>{ %>
          <img
            src="<%=image.image_url%>"
            alt="image"
            style="width: 100px; height: 100px"
          />
          <% }) %>
        </td>
      </tr>

      <tr>
        <th>상품소개</th>
        <td><%= product.description %></td>
      </tr>
      <tr>
        <th>상품정보제공고시</th>
        <td>
          <% if (product.detail!==null) { product.detail.split('<br>').forEach((el)=>{
          %> <%= el %><br />
          <% }) }%>
        </td>
      </tr>
      <tr>
        <th>소비자가격</th>
        <td><%= product.retail_price %></td>
      </tr>
      <tr>
        <th>마진율</th>
        <td><%= product.fee_rate %></td>
      </tr>
      <tr>
        <th>노출수</th>
        <td><%= count.view_count? count.view_count:'0' %></td>
      </tr>
      <tr>
        <th>좋아요수</th>
        <td><%= count.like_count? count.like_count: '0' %></td>
      </tr>
      <tr>
        <th>주문수</th>
        <td><%= count.orders? product.orders : '0' %></td>
      </tr>
      <tr>
        <th>성별</th>
        <td>
          <% product.Genders.forEach((gender)=>{ %> <%= gender.value%> <% }) %>
        </td>
      </tr>
      <tr>
        <th>연령대</th>
        <td><% product.Ages.forEach((age)=>{ %> <%= age.value%> <% }) %></td>
      </tr>
      <tr>
        <th>금액대</th>
        <td><%=product.Price.value %></td>
      </tr>
    </table>
  </div>
  <div class="button-group">
    <button
      style="float: right"
      type="button"
      class="btn green-button"
      onclick="location.href='/admin/product/edit/<%= product.id %>';"
    >
      수정하기
    </button>
    <br />
    <br />
    <br />
    <br />
  </div>
</section>
